In [1]:
import pandas as pd
import numpy as np

In [2]:
AC = pd.read_json('ActualCoordination.json')

In [3]:
AC.shape

(98, 98)

In [4]:
AC.describe()

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.0
mean,0.928571,0.969388,0.285714,0.387755,0.285714,0.306122,0.285714,0.285714,0.285714,0.285714,...,0.132653,0.132653,0.132653,0.132653,0.132653,0.132653,0.142857,0.132653,0.051020,0.0
std,0.258863,0.173150,0.454077,0.489743,0.454077,0.463251,0.454077,0.454077,0.454077,0.454077,...,0.340943,0.340943,0.340943,0.340943,0.340943,0.340943,0.351726,0.340943,0.221171,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [5]:
TNM_CR = pd.read_json('CoordinationNeeds') # calculated using TNM tool.

In [6]:
TNM_CR_NORM = TNM_CR / TNM_CR.max(axis=0)
pd.DataFrame(TNM_CR_NORM).describe()

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,0.012626,0.014639,0.015855,0.014592,0.015856,0.015289,0.015289,0.017493,0.013994,0.021622,...,0.011923,0.013735,0.015171,0.014414,0.011923,0.011923,0.012600,0.011923,0.012097,0.010904
std,0.101390,0.102253,0.103181,0.102339,0.104740,0.103620,0.103620,0.106727,0.101514,0.121101,...,0.101161,0.101595,0.102051,0.102605,0.101161,0.101161,0.101462,0.101161,0.101028,0.101012
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000215,0.000393,0.000340,0.000368,0.000495,0.000000,0.000000,0.000569,0.000000,0.000000,...,0.000000,0.000126,0.000000,0.000274,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000527,0.001162,0.001701,0.000701,0.000945,0.000554,0.000554,0.001707,0.000544,0.001724,...,0.000306,0.000764,0.000000,0.000821,0.000306,0.000306,0.000000,0.000306,0.000000,0.000000
75%,0.001148,0.002639,0.003401,0.002289,0.002024,0.002769,0.002769,0.003984,0.002107,0.003448,...,0.001032,0.001822,0.002663,0.002276,0.001032,0.001032,0.001008,0.001032,0.001161,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
TA = pd.read_json('TaskAssignment.json')
TD = pd.read_json('TaskDependency.json')

In [8]:
TA.shape

(98, 303)

In [9]:
TD.shape

(303, 303)

In [10]:
#CR = np.dot(np.dot(TA, TD),  TA.T)
CR = TA @ TD @ TA.T   ### (98, 303) * (303, 303) * (303, 98) = (98, 98)

In [11]:
CR.shape

(98, 98)

In [12]:
CR_normalised = CR / CR.max(axis=0)
pd.DataFrame(CR_normalised).describe()

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,0.038953,0.028876,0.032372,0.032372,0.032372,0.032372,0.032372,0.029609,0.032372,0.028975,...,0.072653,0.072653,0.072653,0.065239,0.072653,0.072653,0.072653,0.072653,0.089796,0.010204
std,0.116877,0.105701,0.114323,0.114323,0.114323,0.114323,0.114323,0.107168,0.114323,0.107270,...,0.140731,0.140731,0.140731,0.152245,0.140731,0.140731,0.140731,0.140731,0.179372,0.101015
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.008596,0.003758,0.006897,0.006897,0.006897,0.006897,0.006897,0.004274,0.006897,0.006826,...,0.040000,0.040000,0.040000,0.016393,0.040000,0.040000,0.040000,0.040000,0.000000,0.000000
50%,0.018497,0.009953,0.006897,0.006897,0.006897,0.006897,0.006897,0.008547,0.006897,0.006826,...,0.040000,0.040000,0.040000,0.016393,0.040000,0.040000,0.040000,0.040000,0.066667,0.000000
75%,0.023595,0.016062,0.020690,0.020690,0.020690,0.020690,0.020690,0.016738,0.020690,0.013652,...,0.040000,0.040000,0.040000,0.049180,0.040000,0.040000,0.040000,0.040000,0.066667,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
diff =  (CR_normalised - AC)

In [14]:
pd.DataFrame(diff).describe()

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,-0.889618,-0.940512,-0.253343,-0.355384,-0.253343,-0.273751,-0.253343,-0.256105,-0.253343,-0.256739,...,-0.060000,-0.060000,-0.060000,-0.067414,-0.060000,-0.060000,-0.070204,-0.060000,0.038776,0.010204
std,0.296162,0.244955,0.442232,0.481586,0.442232,0.452337,0.442232,0.442315,0.442232,0.442955,...,0.321812,0.321812,0.321812,0.330016,0.321812,0.321812,0.334223,0.321812,0.236609,0.101015
min,-0.998577,-0.999451,-0.993103,-0.993103,-0.993103,-0.993103,-0.993103,-0.991453,-0.993103,-0.993174,...,-0.960000,-0.960000,-0.960000,-0.983607,-0.960000,-0.960000,-0.960000,-0.960000,-0.933333,0.000000
25%,-0.990989,-0.995779,-0.863793,-0.986207,-0.863793,-0.968966,-0.863793,-0.833689,-0.863793,-0.870307,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,-0.981503,-0.990047,0.006897,0.006897,0.006897,0.006897,0.006897,0.002849,0.006897,0.006826,...,0.040000,0.040000,0.040000,0.016393,0.040000,0.040000,0.040000,0.040000,0.000000,0.000000
75%,-0.969172,-0.980678,0.013793,0.006897,0.013793,0.013793,0.013793,0.011396,0.013793,0.013652,...,0.040000,0.040000,0.040000,0.032787,0.040000,0.040000,0.040000,0.040000,0.066667,0.000000
max,0.586673,1.000000,0.082759,0.082759,0.082759,0.082759,0.082759,0.112536,0.082759,0.078498,...,0.480000,0.480000,0.480000,0.540984,0.480000,0.480000,0.480000,0.480000,1.000000,1.000000

### Calculation of CR using TA* TD *TA.T

In [15]:
CR_count=0
for i in range(0, len(CR_normalised)):
    for j in range(len(CR_normalised[0])):
        if CR_normalised[i][j] > 0:
            CR_count+=1
print(CR_count)

8202

In [16]:
diff_count=0
for i in range(0, len(diff)):
    for j in range(len(diff[0])):
        if diff[i][j] > 0:
            diff_count+=1
print(diff_count)

6190

In [17]:
congruence = diff_count / CR_count
print(congruence)   ## CR is calculated using TA * TD * TA.T

0.7546939770787613

### Calculation of CR through tnm tool

In [18]:
tnm_cr_count=0
for i in range(0, len(TNM_CR_NORM)):
    for j in range(len(TNM_CR_NORM[0])):
        if TNM_CR_NORM[i][j] > 0:
            tnm_cr_count+=1
print(tnm_cr_count)

7380

In [19]:
diff = TNM_CR_NORM - AC

In [20]:
diff_count=0
for i in range(0, len(diff)):
    for j in range(len(diff[0])):
        if diff[i][j] > 0:
            diff_count+=1
print(diff_count)

5614

In [21]:
congruence = diff_count / tnm_cr_count  
print(congruence) ## CR is calculated using TNM tool.

0.7607046070460705